[Unit]
Description=Create VacuumTube OS display user
Before=cage@.service

[Service]
Type=oneshot
ExecStart=id -u cage >/dev/null 2>&1 || /usr/bin/useradd cage

[Install]
WantedBy=default.target