[Unit]
Description=Unified Remote Server
After=syslog.target network.target

[Service]
Type=forking
User=root
Group=root
ExecStart=-/opt/urserver/urserver-start --no-notify
ExecStop=/opt/urserver/urserver-stop
SyslogIdentifier=urserver

[Install]
WantedBy=multi-user.target